<header>
    <app-contact-info></app-contact-info>
    <section role="doc-introduction">{{data.intro}}</section>
</header>
<main>
    <section id="expertise" role="doc-part">
        <app-expertise></app-expertise>
    </section>
    <section id="experience" role="doc-part">
        <app-experience></app-experience>
    </section>
    <section id="achievements" role="doc-part">
        <app-achievements></app-achievements>
    </section>
    <section id="education" role="doc-part">
        <app-education></app-education>
    </section>
    <footer>
        <div class="copy">&copy; 2023 Jeffrey Albertson LLC</div>
    </footer>
</main>
